/**        ¬ theme panel         **/
.theme-panel {
  .panel-tab {
    background-color: $brand-default;
  }
  &-mdl {
    .theme-config {
      background-color: $brand-default;
    }
  }
}

/**        ¬ classes         **/
.bg-danger {
  background-color: $brand-default;
}
.text-danger {
  color: $brand-default;
}

/**        ¬ links         **/
a {
  &.link-accent {
    color: $brand-default;
  }
  &.link-title {
    &:hover,
    &:focus {
      color: $brand-default;
    }
  }
}


/**        ¬ loader         **/
#preloader {
  background: $brand-default;
}


/**        ¬ header         **/
.navbar {
  .navbar-header {
    background-color: $brand-default;
    color: $color-reverse;
  }

  .navbar-brand {
    &__image {
      .logo-font {
        color: $color-reverse;
      }
    }
    &__text {
      color: $color-reverse;
    }
  }

  .navbar-nav-user {
    .dropdown-toggle .qty {
      background-color: $brand-default;
    }
  }
}

.navbar-accent {
  background-color: $brand-default;

  .navbar-header {
    background-color: #fff;
  }

  .navbar-brand {
    color: $brand-default;

    &:hover,
    &:focus {
      color: $brand-default;
    }

    &__image {
      .logo-font {
        color: $brand-default;
      }
    }
    &__text {
      color: $brand-default;
    }
  }

  .navbar-menu {
    > li,
    .dropdown.open {
      &:hover > a,
      > a:focus {
        color: $brand-default;
      }
    }
  }

  .navbar-toggle {
    .icon-bar {
      background-color: $brand-default;
    }
  }
}

/**        ¬ section         **/
.divider-decor,
.divider-decor > * {
  border-top-color: $brand-default;
}

.section-row-number {
  &:before {
    border-color: $brand-default;
  }
}

.section-header,
.contacts-panel-header {
  .divider {
    &:after {
      border-color: $brand-default;
    }
  }

  &--white {
    .divider {
      &:after {
        border-color: #fff;
      }
    }
  }
}


/**        ¬ intro pages         **/
.intro-page-tuning {

  &:after {
    background-color: $brand-default;
  }
}


/**        ¬ parallax pattern         **/
.parallax-repeat {

  &.accent {

    &:before {
      background-color: $brand-default;
    }
  }
}

/**        ¬ section overlays         **/
.bg-accent {
  &:after {
    background-color: $brand-default;
  }
}

/**        ¬ section quote         **/
.section-quote {
  color: #fff;

  &__accent-over {
    background-color: rgba($brand-default, .7);
  }
}


/**        ¬ repair service         **/
.repair-row-service,
.services-features {
  .img-wrap {

    .icon {
      color: $brand-default;
    }
  }
}


/**        ¬ contacts list         **/
.contacts-list {
  a {
    color: inherit;
  }

  .icon {
    color: $brand-default;
  }
}


/**        ¬ post date         **/
.flag-date {
  color: $color-reverse;
  background-color: $brand-default;

  &:after {
    border-color: $brand-default;
  }
}


/**        ¬ blog-tags         **/
.blog-tags {

  > li {
    a {
      @extend .link-accent;
    }
  }
}

/**        ¬ post comment         **/
.post-comment {
  &__reply {
    @extend .link-accent;
  }
}

/**        ¬ sections price         **/
.section-pricing {
  &__list {

    .cost {
      color: $brand-default;
    }

    .pricing-card {

      .over-hover-link {

        .over {
          background-color: $brand-default;
        }
      }
    }
  }
}

/**        ¬ instagram list         **/
.instagram-list {
  &__link {
    @extend %thumb-over;
  }
}


/**        ¬ list overview         **/
.list-overview {
  > li {

    a {
      @extend .link-accent;
    }
  }
}


/**        ¬ buttons         **/
.btn {

  i {
    color: $color-reverse;
  }

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    i {
      color: #fff;
    }
  }

  &-accent {
    .btn-over {
      background-color: $brand-default;
    }

    .btn-text {
      color: $color-reverse;
    }
  }
}

.btn-close {
  &__bar {
    background-color: $brand-default;
  }
}


/**        ¬ Breadcrumbs         **/
.breadcrumb {
  > li > a {
    color: $brand-default;
  }
}


/**        ¬ panels         **/
.panel {

  &--accent {
    background-color: $brand-default;
  }
}

/**        ¬ question panel         **/
.question-panel {
  .panel-tab {
    background-color: $brand-default;
  }
}

/**        ¬ btn-controls         **/
.btn-control {
  &.prev,
  &.next {
    color: $color-reverse;
    background-color: $brand-default;
  }
}


/**        ¬ carousel control         **/
.control-carousel {
  &__dots {
    > div {
      > span:focus,
      &.active > span {
        background-color: $brand-default;
      }
    }
  }
}

/**        ¬ carousel track         **/
.carousel-track {
  .center {
    .carousel-track__item {
      &:before {
        border-color: $brand-default;
      }
    }
  }
}

/**        ¬ lightbox controls         **/
.blueimp-gallery {
  > .close {
    background-color: $brand-default;
  }
}

.gallery-controls {
  .indicator {
    > li.active {
      &:after {
        border-color: $brand-default;
      }
    }
  }
}

/**        ¬ page pagination         **/
.pagination {
  > li {
    > a,
    > span {
      color: $brand-default;
    }
  }
}

/**        ¬ panel navbar gallery         **/
.gallery-filter{
  > li > a {
    color: $brand-default;
    border-color: $brand-default;

    &:focus,
    &:active {
      color: #fff;
      background-color: $brand-default;
      border-color: $brand-default;
    }
  }
}


/**        ¬ range slider         **/
.price-slider {
  .noUi-handle {
    border-color: $brand-default;
  }
  .noUi-connect {
    background: $brand-default;
  }
}


/**        ¬ checkbox and radio         **/
.check-wrap {
  .form-checkbox {
    &:checked {
      + .fa {
        color: $brand-default;
      }
    }
  }
}

.radio-input {
  .label-control {
    .form-radio {
      &:checked + i:before {
        background-color: $brand-default;
      }
    }
  }
}

/**        ¬ subscribe         **/
.form-modul {
  .form-modul-btn {
    color: #fff;
    background-color: $brand-default;
  }
}

/**        ¬ datepicker         **/
@mixin datepicker-button-variant($color, $background, $border, $gradient: none) {
  color: $color;
  background-color: $background;
  border-color: $border;
  background-image: $gradient;

  &:focus,
  &:active,
  &.active {
    color: $color;
    background-color: $background; //darken($background, 8%);
    border-color: darken($border, 12%);
  }

  &:hover{
    color: $color;
    background-color: darken($background, 8%);
    border-color: darken($border, 12%);
  }
}

.datepicker {
  &.datepicker-dropdown {
    &:after {
      border-bottom: 6px solid $brand-default;
    }
  }
  table tr td {
    &.day:hover, &.day.focused {
      background: $brand-default;
      color: $color-reverse;
    }
    &.today,
    &.today:hover,
    &.today.disabled,
    &.today.disabled:hover {
      @include datepicker-button-variant($color-reverse, $brand-default, $brand-default);
    }
    &.today:hover:hover {
      color: $color-reverse;
    }
    &.today.active:hover {
      color: $color-reverse;
    }
    &.selected,
    &.selected:hover,
    &.selected.disabled,
    &.selected.disabled:hover {
      @include datepicker-button-variant($color-reverse, $gray-light, $gray-light);
    }
    &.active,
    &.active:hover,
    &.active.disabled,
    &.active.disabled:hover {
      @include datepicker-button-variant($color-reverse, $brand-default, $brand-default);
      background-image: linear-gradient(to bottom, $brand-default 30%, darken($brand-default, 10%) 70%);
    }
    span {
      &:hover {
        color: $color-reverse;
      }
      &.active,
      &.active:hover,
      &.active.disabled,
      &.active.disabled:hover {
        @include datepicker-button-variant($color-reverse, $brand-default, $brand-default);
      }
    }
  }

  th.datepicker-switch {
    background-color: $brand-default;
    color: $color-reverse;
    &:hover,
    &:focus,
    &:active {
      background-color: $brand-default;
    }
  }
  thead tr:first-child th,
  tfoot tr th {
    color: #fff;
    &:hover{
      background: $brand-default;
    }
  }

  .prev, .next {
    background-color: $brand-default;

    &:hover {
      background: $brand-default;
    }
  }
}

/**        ¬ timepicker dropdown time         **/
.ui-timepicker-wrapper {
  border-color: $brand-default;
}

.ui-timepicker-list {

  li,
  li.ui-timepicker-selected {
    &:hover,
    &:focus {
      background-color: $brand-default;
      color: $color-reverse;
    }
  }

  li.ui-timepicker-selected {
    background-color: $brand-default;
    color: #fff;
  }
}

/**        ¬ select2         **/
.select2-container {
  &.select2-container--open {
    .select2-selection--single {
      border-color: $brand-default;

      .select2-selection__arrow {
        b {
          border-color: $brand-default transparent transparent;
        }
      }

      &:hover {
        border-color: $brand-default;
      }
    }
  }

  .select2-dropdown {
    border-color: $brand-default;

    .select2-search__field {
      &:focus {
        border-color: $brand-default;
      }
    }
  }

  .select2-results {
    &__option {
      &--highlighted[aria-selected] {
        color: #fff;
        background-color: $brand-default;
      }
    }
  }
}


//        ¬ thumbnail overlay         **/
%thumb-over {
  &:after {
    background-color: $brand-default;
  }
}

/**        ¬ list default         **/
.list-default {
  > li {

    &:before {
      background-color: $brand-default;
    }

    > a {
      color: $brand-default;
    }
  }

  &--accent {
    li {

      &:before {
        background-color: #fff;
      }
    }
  }
}


/**        ¬ list-category         **/
.list-category {
  > li {

    > a {
      color: $brand-default;
    }
  }
}


/**        ¬ contacts list regular         **/
.contacts-list-regular {

  > li {
    .icon {
      color: $brand-default;
    }

    > a {
      color: inherit;
    }
  }
}


/**        ¬ social list         **/
.social-list {
  > li a {
    color: $brand-default;

    .fa:last-child {
      color: $color-reverse;
    }
  }
}

/**        ¬ video         **/
.video-contain {
  &.hover {
    .video-contain__bg {

      &:after {
        background-color: $brand-default;
      }
    }
  }
}

.btn-play {
  &:after {
    border-color: transparent transparent transparent $brand-default;

    html.rtl & {
      border-color: transparent $brand-default transparent transparent;
    }
  }
}

/**        ¬ animation settings        **/
.over-hover-link,
.over-fade-link {

  .icon {
    color: $color-reverse;
  }
}

.over-hover-link, {
  .over {
    background-color: rgba($brand-default, .8);
  }
}

.over-fade-link {
  background-color: rgba($brand-default, .8);
}

/**        ¬ over catalog         **/
.over-catalog {
  background-color: rgba($brand-white, .7);

  &__panel {
    > li > a {
      background-color: $brand-default;
    }
  }
  .icon {
    color: $brand-white;
  }
}

/**        ¬ isi effect for buttons         **/
%isi {
  color: $color-reverse;
}


/**        ¬ cost         **/
.cost-current {
  color: $brand-default;
}
.cost-special {
  &:before {
    background-color: $brand-default;
  }
}

/**        ¬ navbar categories         **/
.navbar-panel {
  &.navbar-accent {
    .navbar-header {
      background-color: $brand-default;
    }
  }
}

/**        ¬ raiting starts         **/
.br-theme-fontawesome-stars .br-widget a:after {
  color: $gray-base;
}
.br-theme-fontawesome-stars .br-widget a.br-active:after {
  color: $brand-default;
}
.br-theme-fontawesome-stars .br-widget a.br-selected:after {
  color: $brand-default;
}