//           ¬ brands-row           /
section.brands-row
  .section-inner
    .container
      header.section-header.text-center
        h2 Brands we trust
        .divider

      //           ¬ brands-carousel           /
      .brands-carousel.owl-carousel.owl-theme
        //           ¬ slides           /
        figure.brands-carousel__slide.text-center
          img.img-responsive(src=ROOT + brands[0], alt="")

        figure.brands-carousel__slide.text-center
          img.img-responsive(src=ROOT + brands[1], alt="")

        figure.brands-carousel__slide.text-center
          img.img-responsive(src=ROOT + brands[2], alt="")

        figure.brands-carousel__slide.text-center
          img.img-responsive(src=ROOT + brands[3], alt="")

        //           end slides           /

      //           end brands-carousel           /

//           end brands-row           /