//           ¬ panel-finder           /
article.sidebar-panel.sidebar-panel-finder.panel--dark
  +hideTitle
  .sidebar-panel__inner
    form#filterFinder.sidebar-form(action="/", method="GET")
      section.sidebar-finder
        header.sidebar-panel__heading(data-toggle="collapse" data-target='#collapseFinder')
          h4 Parts finder
          p To filter all parts that are suitable for your vehicle, simply enter its specifications bellow

        //           ¬ select group           /
        #collapseFinder.collapse.in
          .form-group.row
            .col-rs.col-xs-4.col-sm-3.col-md-12
              label.label-control Year
            .col-rs.col-xs-8.col-sm-9.col-md-12
              select#selectYear.form-control.select2
                option(value='2000', selected='selected') 2000
                -for (var y = 2016; y > 1999; --y)
                  option(value=y)=y
          =ind

          .form-group.row
            .col-rs.col-xs-4.col-sm-3.col-md-12
              label.label-control Manufacturer
            .col-rs.col-xs-8.col-sm-9.col-md-12
              select#selectManufacturer.form-control.select2
                option(value='Mercedes-Benz', selected='selected') Mercedes-Benz
                option(value='Mercedes-Benz') Mercedes-Benz
                option(value='Mercedes-Benz') Mercedes-Benz
                option(value='Mercedes-Benz') Mercedes-Benz
          =ind

          .form-group.row
            .col-rs.col-xs-4.col-sm-3.col-md-12
              label.label-control Model
            .col-rs.col-xs-8.col-sm-9.col-md-12
              select#selectModel.form-control.select2
                option(value='M-Class (W164)', selected='selected') M-Class (W164)
                option(value='M-Class (W164)') M-Class (W164)
                option(value='M-Class (W164)') M-Class (W164)
                option(value='M-Class (W164)') M-Class (W164)
          =ind

          .form-group.row
            .col-rs.col-xs-4.col-sm-3.col-md-12
              label.label-control Engine
            .col-rs.col-xs-8.col-sm-9.col-md-12
              select#selectEngine.form-control.select2
                option(value='6 Cyl 3.5L', selected='selected') 6 Cyl 3.5L
                option(value='6 Cyl 3.5L') 6 Cyl 3.5L
                option(value='6 Cyl 3.5L') 6 Cyl 3.5L
                option(value='6 Cyl 3.5L') 6 Cyl 3.5L
          =ind

          +btn-form()
            | Filter
        //           end select group           /

//           end panel-finder           /