//           ¬ sidebar categories           /
aside.sidebar.sidebar--md-right.col-xs-12.col-md-3
  article.sidebar-panel.sidebar-panel-categories
    +hideTitle
    .sidebar-panel__inner
      section.sidebar-categories
        h4 Categories

        ul.list-category
          li.active
            a(href="#")
              span Accessories
              span [10]

            ul.list-default.border
              li
                a(href='#')
                  | Bluetooth handsfree kits
                  = ' '
                  span [7]
              li
                a(href='#')
                  | Car cleaning
                  = ' '
                  span [7]
              li
                a(href='#')
                  | Car maintainance
                  = ' '
                  span [7]
              li
                a(href='#')
                  | Entertainment
                  = ' '
                  span [7]
              li
                a(href='#')
                  | Fluids
                  = ' '
                  span [5]
              li
                a(href='#')
                  | For summer
                  = ' '
                  span [3]
              li
                a(href='#')
                  | For winter
                  = ' '
                  span [4]
              li
                a(href='#')
                  | GPS navigators
                  = ' '
                  span [3]
              li
                a(href='#')
                  | Parking Aids
                  = ' '
                  span [5]
              li
                a(href='#')
                  | Security
                  = ' '
                  span [4]
              li
                a(href='#')
                  | Sound systems
                  = ' '
                  span [3]
          =ind

          li
            a(href="#")
              span Audio
              span  [6]

            ul.list-default.border
              li
                a(href='#')
                  | 2.0 Audio Systems
                  = ' '
                  span [5]
              li
                a(href='#')
                  | 2.1 Audio Systems
                  = ' '
                  span [5]
              li
                a(href='#')
                  | 5.1 Audio Systems
                  = ' '
                  span [5]
              li
                a(href='#')
                  | Amplifiers
                  = ' '
                  span [2]
              li
                a(href='#')
                  | AUX Cables
                  = ' '
                  span [5]
              li
                a(href='#')
                  | Receivers
                  = ' '
                  span [3]
              li
                a(href='#')
                  | Subwoofers
                  = ' '
                  span [3]
          =ind

          li
            a(href="#")
              span Parts
              span  [11]

            ul.list-default.border
              li
                a(href='#')
                  | Brakes
                  = ' '
                  span [8]
              li
                a(href='#')
                  | Cooling & Heating
                  = ' '
                  span [6]
              li
                a(href='#')
                  | Electrical
                  = ' '
                  span [5]
              li
                a(href='#')
                  | Engine
                  = ' '
                  span [5]
              li
                a(href='#')
                  | Suspension
                  = ' '
                  span [5]
              li
                a(href='#')
                  | Transmission
                  = ' '
                  span [5]
          =ind

          li
            a(href="#")
              span Exterior
              span  [5]

            ul.list-default.border
              li
                a(href='#')
                  | Body mouldings
                  = ' '
                  span [4]
              li
                a(href='#')
                  | Body panels
                  = ' '
                  span [3]
              li
                a(href='#')
                  | Cables
                  = ' '
                  span [3]
              li
                a(href='#')
                  | Grilles
                  = ' '
                  span [4]
              li
                a(href='#')
                  | Heat exchangers
                  = ' '
                  span [3]
              li
                a(href='#')
                  | Locking wheel kits
                  = ' '
                  span [4]
              li
                a(href='#')
                  | Mirrors
                  = ' '
                  span [3]
              li
                a(href='#')
                  | Tailored mats
                  = ' '
                  span [3]
              li
                a(href='#')
                  | Washer system
                  = ' '
                  span [4]
              li
                a(href='#')
                  | Wheel bolts
                  = ' '
                  span [4]
              li
                a(href='#')
                  | Wheel nuts
                  = ' '
                  span [3]
              li
                a(href='#')
                  | Wiper blades
                  = ' '
                  span [3]
          =ind

          li
            a(href="#")
              span Interior
              span  [6]

            ul.list-default.border
              li
                a(href='#')
                  | Air fresheners
                  = ' '
                  span [6]
              li
                a(href='#')
                  | Car maintainance
                  = ' '
                  span [5]

//           end sidebar categories           /