//           ¬ navbar filter           /
nav.navbar.navbar-accent.navbar-panel
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navCategories', aria-expanded='true', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

    #navCategories.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-expanded="true")
            | Parts
            span.fa.fa-caret-down

          ul.dropdown-menu(role='menu')
            li
              ul.list-default
                li
                  a(href="#") Engine parts
                li
                  a(href="#") Belt chains
                li
                  a(href="#") Tensioners
                li
                  a(href="#") Filters
                li
                  a(href="#") Ignition
                li
                  a(href="#") Fuel management

              ul.list-default
                li
                  a(href="#") Engine parts
                li
                  a(href="#") Belt chains
                li
                  a(href="#") Tensioners
                li
                  a(href="#") Filters
                li
                  a(href="#") Ignition
                li
                  a(href="#") Fuel management

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-expanded="false")
            | Wheels & tyres
            span.fa.fa-caret-down

          ul.dropdown-menu(role='menu')
            li
              ul.list-default
                li
                  a(href="#") Body mouldings
                li
                  a(href="#") Body panels
                li
                  a(href="#") Grilles
                li
                  a(href="#") Mirrors
                li
                  a(href="#") Locking wheel kits
                li
                  a(href="#") Wheel bolts

              ul.list-default
                li
                  a(href="#") Wheel nuts
                li
                  a(href="#") Tailored mats
                li
                  a(href="#") Washer system
                li
                  a(href="#") Wiper blades
                li
                  a(href="#") Heat exchangers
                li
                  a(href="#") Cables

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-expanded="false")
            | Door & wing mirrors
            span.fa.fa-caret-down

          ul.dropdown-menu(role='menu')
            li
              ul.list-default
                li
                  a(href="#") Intercoolers
                li
                  a(href="#") Expansion tanks
                li
                  a(href="#") Radiators
                li
                  a(href="#") Thermostats
                li
                  a(href="#") Compressors
                li
                  a(href="#") Condensers

              ul.list-default
                li
                  a(href="#") Expansion valves
                li
                  a(href="#") Heater cables
                li
                  a(href="#") Heater matrix
                li
                  a(href="#") Heater motors

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-expanded="false")
            | Interior
            span.fa.fa-caret-down

          ul.dropdown-menu(role='menu')
            li
              ul.list-default
                li
                  a(href="#") Body mouldings
                li
                  a(href="#") Body panels
                li
                  a(href="#") Grilles
                li
                  a(href="#") Mirrors
                li
                  a(href="#") Locking wheel kits
                li
                  a(href="#") Wheel bolts

              ul.list-default
                li
                  a(href="#") Wheel nuts
                li
                  a(href="#") Tailored mats
                li
                  a(href="#") Washer system
                li
                  a(href="#") Wiper blades
                li
                  a(href="#") Heat exchangers
                li
                  a(href="#") Cables

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-expanded="false")
            | Audio
            span.fa.fa-caret-down

          ul.dropdown-menu(role='menu')
            li
              ul.list-default
                li
                  a(href="#") Battery
                li
                  a(href="#") Starter motors
                li
                  a(href="#") Pressure sensors
                li
                  a(href="#") Headlights
                li
                  a(href="#") Indicators
                li
                  a(href="#") Rear lights

              ul.list-default
                li
                  a(href="#") Glow plugs
                li
                  a(href="#") Ignition leads
                li
                  a(href="#") Spark plugs
                li
                  a(href="#") Dumper struts

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-expanded="false")
            | Accessories
            span.fa.fa-caret-down

          ul.dropdown-menu(role='menu')
            li
              ul.list-default
                li
                  a(href="#") Car cleaning
                li
                  a(href="#") Car maintainance
                li
                  a(href="#") Fluids
                li
                  a(href="#") Security
                li
                  a(href="#") For winter
                li
                  a(href="#") For summer

              ul.list-default
                li
                  a(href="#") GPS navigators
                li
                  a(href="#") Parking Aids
                li
                  a(href="#") Entertainment
                li
                  a(href="#") Sound systems
                li
                  a(href="#") Bluetooth handsfree kits

        li.dropdown
          a.dropdown-toggle(href='#', data-toggle="dropdown", role="button", aria-expanded="false")
            | Oil
            span.fa.fa-caret-down

          ul.dropdown-menu(role='menu')
            li
              ul.list-default
                li
                  a(href="#") Battery
                li
                  a(href="#") Starter motors
                li
                  a(href="#") Pressure sensors
                li
                  a(href="#") Headlights
                li
                  a(href="#") Indicators
                li
                  a(href="#") Rear lights

              ul.list-default
                li
                  a(href="#") Glow plugs
                li
                  a(href="#") Ignition leads
                li
                  a(href="#") Spark plugs
                li
                  a(href="#") Dumper struts

//           end navbar filter           /