//           ¬ Page header           /
header.page-header
  +nav("Carros", "navbar", "default navbar-repair")(data-skin='default')
    //           ¬ Left menu           /
    .col-sm-6.col-md-5
      ul.nav.navbar-nav.navbar-menu
        +nav_item_dropdown()(label="Home")
          +nav_item(link.home) Auto repair shop
          +nav_item(link.tuning) Auto tuning service
          +nav_item(link.retailer) Auto parts retailer

        +nav_item_dropdown()(label="Services")
          +nav_item(link.services) Services list
          +nav_item(link.logbook) Service details
        +nav_item(link.pricing) Pricing

    //           end Left menu           /


    //           ¬ Right menu           /
    .col-sm-6.col-md-5.col-md-offset-2
      ul.nav.navbar-nav.navbar-right.navbar-menu
        +nav_item(link.about) About
        +nav_item(link.contacts) Contacts

        +nav_item_dropdown()(label="Pages")
          +nav_item(link.faq) FAQ
          +nav_item(link.testimonials) Testimonials
          +nav_item(link.page404) 404 Page

    //           end Right menu           /

//           end Page header           /