//           ¬ section-intro           /
section.section-intro.intro-retailer.parallax.bg-dark(style='background: url("#{ROOT + retailer}")')
  .container
    .col-xs-12.col-sm-6.col-md-5.col-lg-4
      header.section-intro__heading
        span.h5 auto parts shop
        h1.text-danger Carros
        +divider-decor

      .form-modul.form-modul-search.center-block
        form#formSearch(action="#", method="GET")
          .input-wrap
            input.form-control(
              type="search",
              placeholder='Search across 100 000+ car parts...'
            )

            button.form-modul-btn(type="submit")
              i.pe-7s-search
    //           end section-intro           /