//           ¬ theme panel           /
#themePanel.theme-panel-mdl
  .theme-panel-mdl__inner
    h4.theme-panel-mdl__title Option theme

    #themeTabs.theme-panel-mdl__tabs(role='tablist', aria-multiselectable='true')

      .panel.theme-panel
        #themeTabOne.theme-panel__heading(role='tab')
          h4.theme-panel__title
            a.panel-tab(role='button', data-toggle='collapse', data-parent='#themeTabs', href='#themeCollapseOne', aria-expanded='true', aria-controls='themeCollapseOne')
              | Header
              i.panel-cross

        #themeCollapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='themeTabOne')
          .panel-body
            ul#headerOption.theme-panel__skins.cf
              li
                a.skin-light(href="#", data-path="navbar-default", title="Default", data-toggle="tooltip", data-placement="bottom")
              li
                a.skin-default(href="#", data-path="navbar-accent", title="Accent", data-toggle="tooltip", data-placement="bottom" data-select)
              li
                a.skin-dark(href="#", data-path="navbar-dark", title="Dark", data-toggle="tooltip", data-placement="bottom")
      .panel.theme-panel
        #themeTabTwo.theme-panel__heading(role='tab')
          h4.theme-panel__title
            a.panel-tab(role='button', data-toggle='collapse', data-parent='#themeTabs', href='#themeCollapseTwo', aria-expanded='true', aria-controls='themeCollapseTwo')
              | Theme
              i.panel-cross

        #themeCollapseTwo.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='themeTabTwo')
          .panel-body
            ul#themeOption.theme-panel__skins.cf
              li
                a.skin-default(href="#", data-path=ROOT + "skins/skin-default.css", title="Default", data-toggle="tooltip", data-placement="bottom")
              li
                a.skin-blue(href="#", data-path=ROOT + "skins/skin-blue.css", title="Blue", data-toggle="tooltip", data-placement="bottom")
              li
                a.skin-orange(href="#", data-path=ROOT + "skins/skin-orange.css", title="Orange", data-toggle="tooltip", data-placement="bottom")

      .panel.theme-panel
        input.js-rtl-switch(type='checkbox' data-path=ROOT + 'style-rtl.css')

    .theme-config
      i.icon.pe-7s-config

//           end theme panel           /