//           ¬ section statistic           /
section.section-row.section-stats.parallax-repeat.dark.text-center(style='background: url("#{ROOT + pattern}")')
  .container
    .section-stats__row
      .stats-item.col-rs.col-xs-6.col-md-3
        .h1.stats-item__counter(data-counter)
          | 1249
        +divider-decor()
        h4.stats-item__title
          span  engines
          span repaired


      .stats-item.col-rs.col-xs-6.col-md-3
        .h1.stats-item__counter(data-counter)
          | 5125
        +divider-decor()
        h4.stats-item__title
          span  wheels
          span balanced


      .stats-item.col-rs.col-xs-6.col-md-3
        .h1.stats-item__counter(data-counter)
          | 2756
        +divider-decor()
        h4.stats-item__title
          span  suspensions
          span adjusted


      .stats-item.col-rs.col-xs-6.col-md-3
        .h1.stats-item__counter(data-counter)
          | 4291
        +divider-decor()
        h4.stats-item__title
          span  Sound systems
          span installed

//           end section statistic           /