//           ¬ section services           /
section.section-row.repair-row-service
  .container
    //           ¬ section-header           /
    +section-number('01. ', 'Services')

    //           end section-header           /

    //           ¬ repair-row-services-list           /
    .repair-row-service-list
      .row
        //           ¬ item-1           /
        .col-xs-12.col-sm-6.col-md-4.item
          .img-wrap
            i.icon.flaticon-car-search
          h5 Vehicle diagnostic
          +divider-decor
          p Let us help you understand any fault codes you may be experiencing with your vehicle.

        //           end item-1           /


        //           ¬ item-2           /
        .col-xs-12.col-sm-6.col-md-4.item
          .img-wrap
            i.icon.flaticon-balancing
          h5 Wheel balancing
          +divider-decor
          p Our wheel balancing procedure checks for any heavy spots on the wheel-tyre combination and compensating for it.

        //           end item-2           /


        //           ¬ item-3           /
        .col-xs-12.col-sm-6.col-md-4.item
          .img-wrap
            i.icon.flaticon-battery
          h5 battery fitting
          +divider-decor
          p Setup of replacement battery for vehicles fitted with stop/start technology.

        //           end item-3           /


        //           ¬ item-4           /
        .col-xs-12.col-sm-6.col-md-4.item
          .img-wrap
            i.icon.flaticon-brake-disk
          h5 brake servicing
          +divider-decor
          p It’s vital that you get the entire brakes system checked regularly to ensure your safe driving.

        //           end item-4           /


        //           ¬ item-5           /
        .col-xs-12.col-sm-6.col-md-4.item
          .img-wrap
            i.icon.flaticon-car-wash
          h5 car wash & vacuum
          +divider-decor
          p Not only does your engine get a service but the exterior of the vehicle does too.

        //           end item-5           /


        //           ¬ item-6           /
        .col-xs-12.col-sm-6.col-md-4.item
          .img-wrap
            i.icon.flaticon-oil
          h5 Oil changing
          +divider-decor
          p This isn’t just an oil change; it’s preventive maintenance to help keep your vehicle running good.

        //           end item-6           /
    //           end repair-row-services-list           /


    //           ¬ button           /
    .btn-wrapper
      +btn-link('dark', ROOT + link.services)
        | view all services
    //           end button           /

//           end section services           /
