//           ¬ section video tour           /
section.video-tour
  .container
    .row
      .col-sm-8.col-lg-6.col-sm-offset-2.col-lg-offset-3.text-center
        header.section-header
          h2 Video tour
          .divider
          p We’ve prepared a short video footage of our auto repair shop. Enjoy!

  .video-contain
    .video-contain__bg.parallax.bg-dark(style="background-image: url('#{dir.img + 'upload/intro/preview-tour.jpg'}')")
      button#videoTourPlay.btn-play(data-play)

    //           ¬ iframe           /
    #videoTour.embed-responsive.embed-responsive-16by9

    //           end iframe           /

//           end section video tour           /
