//           ¬ section-intro           /
section.section-intro.intro-tuning.parallax-repeat.dark(style='background: url("#{ROOT + pattern}")')
  .container
    .col-xs-12.col-sm-8.col-md-7.col-lg-6
      span.h5 auto repair shop
      h1.text-danger Carros
      +divider-decor
      p
        | More than 20 years of high performance car tuning and styling experience!

//           end section-intro           /