//           ¬ section contacts           /
section.section-row.section-contacts
  .container
    //           ¬ section-header           /
    +section-row-header('Contacts')
      +divider-decor
      p Silent son man she wished mother. Distrusts allowance do knowledge eagerness assurance additions to.

    //           end section-header           /


  //           ¬ contacts row           /
  .section-contacts__inner
    .container
      //           ¬ contacts-list           /
      .contacts-list.row
        .contacts-list__item.col-sm-4
          i.icon.pe-7s-map-2
          ul
            li 64 Weigall Avenue, Mount Bryan,
            li SA 1587, Australia

        .contacts-list__item.col-sm-4
          i.icon.pe-7s-phone
          ul
            li: a(href="tel:+18184925810") +1 (818) 492 58 10
            li: a(href="fax:+18184102900") +1 (818) 410 29 00 (fax)

        .contacts-list__item.col-sm-4
          i.icon.pe-7s-clock
          ul
            li Mon — Tue:  8:00 — 21:00
            li Sat — Sun:  10:00 — 18:00

      //           end contacts-list           /

  //           end contacts row           /

//           end section contacts           /