//           ¬ sidebar           /
aside.col-md-3.sidebar.sidebar--md-left
  article.sidebar-panel.sidebar-panel-tuning
    +hideTitle
    .sidebar-panel__inner
      section.sidebar-form
        h4 Subscribe
        p Be the first who will know about Carros special offers and discount promotions!

        //           ¬ subscribe-form           /
        .form-modul.form-subscribe
          form#sidebarForm(action="#", method="POST", data-toggle="validator")
            .form-group
              label.label-control(for='sidebarEail') Enter your e-mail
              .input-wrap
                input#sidebarEail.form-control(type="email", name='user_email' required)

                button.form-modul-btn(type="submit")
                  i.pe-7s-paper-plane

        //           end subscribe-form           /
      =ind

      section.sidebar-categories
        h4 Categories
        ul.list-category
          li
            a(href="#")
             span Advices
             span  [15]
          li
            a(href="#")
             span Company news
             span  [29]
          li
            a(href="#")
             span Auto repair
             span  [19]
          li
            a(href="#")
             span Tires
             span  [8]
          li
            a(href="#")
             span Community
             span  [10]
      =ind

      section.sidebar-latest
        h4 Latest

        ul.list-category.under
          li
            .sidebar-latest__date
              time(datetime="2016-08-06") 06 / 08 / 2016
            a(href=ROOT + link.blog_grid_post) Top 10 of brake kits overview for sport cars
          li
            .sidebar-latest__date
              time(datetime="2016-08-13") 13 / 08 / 2016
            a(href=ROOT + link.blog_grid_post) 5 Helpful recommendations for engine customization
          li
            .sidebar-latest__date
              time(datetime="2016-08-13") 13 / 08 / 2016
            a(href=ROOT + link.blog_grid_post) 20 tips to keep your vehicle clean
    =ind2

  article.panel.sidebar-banner.parallax-repeat.accent(style='background: url("#{ROOT + pattern}")')
    .panel__inner.text-center
      .panel__headings
        h4.sidebar-banner__tab-title Discount
        .h1.panel__title 10%
      .panel__body
        p on suspension check

//           end sidebar           /