//           ¬ section feature           /
section.section-row.section-banner.parallax.bg-dark(style="background-image: url(#{dir.img + 'upload/full/feature-car.jpg'});")
  .container
    .row
      .col-sm-10.col-md-8.col-lg-6.col-sm-offset-1.col-md-offset-2.col-lg-offset-3
        header.section-banner__header.text-center
          h1.text-danger Pump Your Car
          h2 with mobile ECU remapping

        p Mobile remapping service provides: precise, smoother power delivery, increase in BHP and torque, better acceleration, better engine responding.

        .btn-wrapper.center-block
          +btn-link
            | Order for $150

//           end section feature           /
