//           ¬ section services           /
section.tuning-row-service
  .row.grid-row
    //           ¬ grid-sizer           /
    .col-xs-6.col-sm-3.grid-sizer

    //           end grid-sizer           /


    //           ¬ item-1           /
    .col-xs-12.col-lg-6.grid-item
      .service-panel.row
        .col-xs-12.col-sm-6.col-sm-push-6.service-panel-body.service-panel-body--left
          .service-panel-body__inner
            h4 Dynoing service
            p Sociable on as carriage my position weddings raillery consider. Peculiar trifling absolute and wandered vicinity property yet.
        .col-xs-12.col-sm-6.col-sm-pull-6.service-panel__link.hover-anim
          +over-hover-link(ROOT + link.tuning_services)
          img.img-responsive(src="#{dir.img + 'upload/tuning-services/item-1.jpg'}", alt="")

    //           end item-1           /


    //           ¬ item-2           /
    .col-xs-12.col-sm-6.col-lg-3.grid-item
      .service-panel.service-panel--column-bg.row
        .col-xs-12.service-panel__link.hover-anim.no-parallax.bg-dark(style="background-image: url(\"#{dir.img + 'upload/tuning-services/item-3.jpg'}\");")
          +over-hover-link(ROOT + link.tuning_services)
          h4.expand-title Tire sales & setup

    //           end item-2           /


    //           ¬ item-3           /
    .col-xs-12.col-sm-6.col-lg-3.grid-item
      .service-panel.service-panel--column.row
        .col-xs-12.service-panel__link.hover-anim
          +over-hover-link(ROOT + link.tuning_services)
          img.img-responsive(src="#{dir.img + 'upload/tuning-services/item-4.jpg'}", alt="")
        .col-xs-12.service-panel-body.service-panel-body--bottom
          .service-panel-body__inner
            h4 Custom engine work
            p Views abode law heard jokes too. Was are delightful solicitude discovered collecting man day. Resolving neglected sir tolerably but existence conveying for. Day his put off unaffected literature partiality inhabiting.

    //           end item-3           /


    //           ¬ item-4           /
    .col-xs-12.col-lg-6.grid-item
      .service-panel.row
        .col-xs-12.col-xs-6.service-panel-body.service-panel-body--right
          .service-panel-body__inner
            h4 Brakes upgrade
            p She who arrival end how fertile enabled. Brother she add yet see minuter natural smiling article painted. Themselves at dispatched interested insensible am be prosperous reasonably it. In either so spring wished.
        .col-xs-12.col-xs-6.service-panel__link.hover-anim
          +over-hover-link(ROOT + link.tuning_services)
          img.img-responsive(src="#{dir.img + 'upload/tuning-services/item-2.jpg'}", alt="")

    //           end item-4           /

//           end section services           /
