//- Configuration template ( variables and settings template )
//-
- var ind = '\n';
- var ind2 = '\n\n';

- var ROOT = '../';

-
  dir = {
    css: ROOT + 'css/',
    img: ROOT + 'images/',
    js: ROOT + 'js/'
  },

  theme = {
    msappColor: '#2F3BA2',
    themeColor: '#2F3BA2',
    pathTouch: ROOT + 'images/touch/'
  }

