//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Comparsion',
      appTitle: 'Carros Comparsion',
      description: '',
      id: 'catalog_compare',
      class: 'catalog-compare page-inner'
    }

block icons

block header
  include ../partials/_header-retailer

block content
  main.page-content
    +catalog-intro-page('Comparsion')
    =ind

    include ../partials/_category-filter
    =ind

    +breadcrumb_catalog(
      ["Home", "retailer.html"],
      ["Catalog", "pages/catalog.html"],
      ["Brakes"]
    )
    =ind

    //           ¬ content inner           /
    .page-content-wrapper
      .compare-container.table-responsive
        .compare-top.compare-table.text-center
          .compare-table-row.compare-top__btn-group
            .col-xs-3
              +btn-close
            .col-xs-3
              +btn-close
            .col-xs-3
              +btn-close
            .col-xs-3
              +btn-close
          .compare-table-row.compare-top__header
            .col-xs-3
              h3 C.B.S. Brake disc
            .col-xs-3
              h3 SWAP Tappet
            .col-xs-3
              h3 Elysium Oil filter
            .col-xs-3
              h3 OBI Springs
          .compare-table-row.compare-top__thumbs
            .col-xs-3
              figure.item-thumb.hover-anim
                img.img-responsive.thumb(src=ROOT + goods[1], alt="")
                +over-catalog-link(ROOT + link.catalog_details)
            .col-xs-3
              figure.item-thumb.hover-anim
                img.img-responsive.thumb(src=ROOT + goods[2], alt="")
                +over-catalog-link(ROOT + link.catalog_details)
            .col-xs-3
              figure.item-thumb.hover-anim
                img.img-responsive.thumb(src=ROOT + goods[3], alt="")
                +over-catalog-link(ROOT + link.catalog_details)
            .col-xs-3
              figure.item-thumb.hover-anim
                img.img-responsive.thumb(src=ROOT + goods[4], alt="")
                +over-catalog-link(ROOT + link.catalog_details)
        =ind2

        .compare-content
          section.compare-section
            .compare-section__header
              h3 Price
            .compare-table.text-center
              .compare-table-row
                .col-xs-6.col-sm-3
                  span $55.98
                .col-xs-6.col-sm-3
                  span $14.50
                .col-xs-6.col-sm-3
                  span $55.98
                .col-xs-6.col-sm-3
                  span $55.98
          =ind

          section.compare-section
            .compare-section__header
              h3 Model
            .compare-table.text-center
              .compare-table-row
                .col-xs-6.col-sm-3
                  span M-Class
                .col-xs-6.col-sm-3
                  span A3
                .col-xs-6.col-sm-3
                  span Model X5
                .col-xs-6.col-sm-3
                  span A4
          =ind

          section.compare-section
            .compare-section__header
              h3 Brand
            .compare-table.text-center
              .compare-table-row
                .col-xs-6.col-sm-3
                  span Mercedes-Benz
                .col-xs-6.col-sm-3
                  span Audi
                .col-xs-6.col-sm-3
                  span BMW
                .col-xs-6.col-sm-3
                  span Audi
          =ind

          section.compare-section
            .compare-section__header
              h3 Availability
            .compare-table.text-center
              .compare-table-row
                .col-xs-6.col-sm-3
                  span In Stock
                .col-xs-6.col-sm-3
                  span Out of Stock
                .col-xs-6.col-sm-3
                  span In Stock
                .col-xs-6.col-sm-3
                  span In Stock
          =ind

          section.compare-section
            .compare-section__header
              h3 Rating
            .compare-table.text-center
              .compare-table-row
                .col-xs-6.col-sm-3
                  .compare-raiting
                    select.js-compare-raiting
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4
                      option(value='5') 5
                  .compare-review.text-danger [15 reviews]
                =ind

                .col-xs-6.col-sm-3
                  .compare-raiting
                    select.js-compare-raiting
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4
                      option(value='5') 5
                  .compare-review.text-danger [3 reviews]
                =ind

                .col-xs-6.col-sm-3
                  .compare-raiting
                    select.js-compare-raiting
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4
                      option(value='5') 5
                  .compare-review.text-danger No rating
                =ind

                .col-xs-6.col-sm-3
                  .compare-raiting
                    select.js-compare-raiting
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4
                      option(value='5') 5
                  .compare-review.text-danger No rating
          =ind

          section.compare-section
            .compare-section__header
              h3 Summary
            .compare-table.text-center
              .compare-table-row
                .col-xs-6.col-sm-3
                  p Front axle vented, for for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)
                .col-xs-6.col-sm-3
                  p for HONDA CIVIC VIII Hatchback (FN, FK) 1.4 83 HP
                .col-xs-6.col-sm-3
                  p Filter insert, for BMW X5 (E53) 3.0 228 HP
                .col-xs-6.col-sm-3
                  p Rear axle lucas w/o accessories, for AUDI A3 (8L1) 1.6 101 HP
          =ind

          section.compare-section
            .compare-section__header
              h3 Weight
            .compare-table.text-center
              .compare-table-row
                .col-xs-6.col-sm-3
                  span 10.00kg
                .col-xs-6.col-sm-3
                  span 0.75kg
                .col-xs-6.col-sm-3
                  span 7.50kg
                .col-xs-6.col-sm-3
                  span 12.25kg
          =ind

          section.compare-section
            .compare-section__header
              h3 Dimensions
            .compare-table.text-center
              .compare-table-row
                .col-xs-6.col-sm-3
                  span 5.60cm x 4.10cm x 3.00cm
                .col-xs-6.col-sm-3
                  span 100.00cm x 55.00cm x 67.50cm
                .col-xs-6.col-sm-3
                  span 15.00cm x 7.25cm x 20.50cm
                .col-xs-6.col-sm-3
                  span 30.00cm x 15.50cm x 7.25cm
        =ind2

        .compare-bottom
          .compare-table
            .compare-table-row
              .col-xs-6.col-sm-3
                +btn()(class='btn-block') buy
              .col-xs-6.col-sm-3
                +btn()(class='btn-block') buy
              .col-xs-6.col-sm-3
                +btn()(class='btn-block') buy
              .col-xs-6.col-sm-3
                +btn()(class='btn-block') buy
    //           end content inner           /
    =ind2

    include retailer/_brands-carousel

block footer
  include ../partials/_footer

block bottom

