//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Catalog list view',
      appTitle: 'Carros Catalog list',
      description: '',
      id: 'pageCatalogList',
      class: 'catalog-list-view page-inner'
    }

block icons

block header
  include ../partials/_header-retailer

block content
  main.page-content
    //           ¬ section-intro           /
    +catalog-intro-page('Brakes')

    //           end section-intro           /
    =ind

    include ../partials/_category-filter
    =ind

    +breadcrumb_catalog(
      ["Home", "retailer.html"],
      ["Catalog", "pages/catalog.html"],
      ["Brakes"]
    )
    =ind

    //           ¬ content inner           /
    .page-content-wrapper
      .container
        .row
          //- include retailer/_sidebar-full-filter
          include retailer/_sidebar-categories
          =ind2

          //           ¬ content inner          /
          .col-xs-12.col-md-9
            //           ¬ refine search           /
            .refine-search
              h4 Refine Search
              ul.list-default.refine-search.border
                li
                  a(href="#")
                    span Brake discs
                    = ' '
                    span [10]
                li
                  a(href="#")
                    span Brake pads
                    = ' '
                    span [15]
                li
                  a(href="#")
                    span Brake hoses
                    = ' '
                    span [2]
                li
                  a(href="#")
                    span Brake drums
                    = ' '
                    span [7]
                li
                  a(href="#")
                    span ABS Ring
                    = ' '
                    span [9]

            //           end refine search           /
            =ind2

            //           ¬ control-bar           /
            .control-bar.row
              .col-xs-12.col-sm-6.col-lg-5
                .row.control-bar-sort
                  .form-group.col-rs.col-xs-6
                    span.label-control Show
                    select#selectShow.form-control.select2
                      option(value='5', selected='selected') 5
                      option(value='4') 4
                      option(value='3') 3
                      option(value='2') 2
                      option(value='1') 1

                  .form-group.col-rs.col-xs-6
                    span.label-control Soft By
                    select#selectSortBy.form-control.select2
                      option(value='Default', selected='selected') Default
                      option(value='Default') Default
              =ind
              .col-xs-5.col-sm-6.col-lg-7.hidden-xs
                ul.control-bar-grid
                  li.active
                    a#listView.control-bar-grid__btn(href="#", role='button', data-toggle='tooltip' title data-original-title='List')
                      i.icon.pe-7s-menu
                  li
                    a#gridView.control-bar-grid__btn(href="#", role='button', data-toggle='tooltip' title data-original-title='Grid')
                      i.icon.pe-7s-keypad

            //           end control-bar           /
            =ind2

            //           ¬ catalog grid list           /
            #catalogGrid.catalog-row.row
              - for (var i = 0; i < 6; i++)

                //           ¬ item           /
                .col-rs.col-xs-6.col-sm-4.col-md-4.catalog-list-item
                  article.catalog-item-panel.row
                    figure.col-xs-4.catalog-item-panel__img.hover-anim
                      img.img-responsive.thumb(src=ROOT + goods[i], alt="")
                      +over-catalog-link(ROOT + link.catalog_details)
                    .catalog-item-panel__body.col-xs-8
                      .catalog-item-header.js-equalHeight
                        a.link-title(href=ROOT + link.catalog_details)
                          h3 SWAP Tappet
                        p for HONDA CIVIC VIII Hatchback (FN, FK) 1.4 83 HP

                      .media.media-footer.row
                        .col-xs-12.col-sm-6.col-lg-7.order-1
                          .media-body
                            .media-counter
                              input.form-control-count(type='text', data-number, value='1', readonly)
                          .media-right.cost-row
                            span.cost-current.text-danger $4.00
                            span.cost-special.through $4.00

                        .col-xs-12.col-sm-6.col-lg-5.order-2
                          +btn-link
                            | Buy

                //           end item           /
            //           end catalog grid list           /
            =ind2

            //           ¬ pagination-page           /
            .row.catalog-pagination
              .col-xs-12
                p.text-right Showing 1 to 5 of 5 (1 Pages)
                nav.pagination-page(aria-label='Page navigation')
                  ul.pagination
                    li
                      a(href='#', aria-label='Previous')
                        span(aria-hidden='true'): i.fa.fa-angle-double-left
                    li
                      a(href='#') 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li
                      a(href='#') 6
                    li
                      a(href='#') 7
                    li
                      a(href='#') 8
                    li
                      a(href='#', aria-label='Next')
                        span(aria-hidden='true'): i.fa.fa-angle-double-right

            //           ¬ end pagination-page           /

    //           end content inner           /
    =ind2

    include retailer/_brands-carousel

block footer
  include ../partials/_footer

block bottom

