//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Services',
      appTitle: 'Services',
      description: '',
      id: 'page_services',
      class: 'page-services page-inner'
    }

block icons

block header
  include ../partials/_header-repair

block content
  main.page-content
    +intro-page('Services')

    +bootstrap_breadcrumb(
      ["Home", "index.html"],
      ["Services"]
    )

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      .container
        .row
          //           ¬ inner-content           /
          .col-md-9
            //           ¬ section-content           /
            section.section-content
              header.section-header
                h2 Services overview
                .divider
                p Inhabiting discretion the her dispatched decisively boisterous joy. So form were wish open is able of mile of. Waiting express if prevent it we an musical. Especially reasonable travelling she son. Resources resembled forfeited no to zealously. Has procured daughter how friendly followed repeated who surprise.

              //           ¬ services-list           /
              .services-list
                .services-list__item.parallax.bg-dark.hover-anim(style="background-image: url(#{ROOT + servicesList[0]})")
                  h4.expand-title Logbook
                  +over-fade-link(ROOT + link.logbook)

                .services-list__item.parallax.bg-dark.hover-anim(style="background-image: url(#{ROOT + servicesList[1]})")
                  h4.expand-title Brake / Wheel servicing
                  +over-fade-link(ROOT + link.catalog)

                .services-list__item.parallax.bg-dark.hover-anim(style="background-image: url(#{ROOT + servicesList[2]})")
                  h4.expand-title Suspension Servicing
                  +over-fade-link(ROOT + link.catalog)

                .services-list__item.parallax.bg-dark.hover-anim(style="background-image: url(#{ROOT + servicesList[3]})")
                  h4.expand-title Engine repair
                  +over-fade-link(ROOT + link.catalog)

              //           end services-list           /


              //           ¬ services-list-other           /
              .services-list-other
                h3 Other services
                ul.list-default
                  li
                    a(href="#") Oil & filter change
                  li
                    a(href="#") Lubrication spervice
                  li
                    a(href="#") Brake check
                  li
                    a(href="#") Steering and suspension check
                  li
                    a(href="#") Engine check
                  li
                    a(href="#") Cooling system check

              //           end services-list-other           /

              p Not him old music think his found enjoy merry. Listening acuteness dependent at or an. Apartments thoroughly unsatiable terminated sex how themselves. She are ten hours wrong walls stand early. Domestic perceive on an ladyship extended received do. Why jennings our whatever his learning gay perceive. Is against no he without subject. Bed connection unreserved preference partiality not unaffected. Years merit trees so think in hoped we as Is against no.

            //           end section-content           /

            //           ¬ section-content           /
            section.section-content
              header.section-header
                h2 Why to choose us
                .divider
                p Result either design saw she esteem and. On ashamed no inhabit ferrars it ye besides resolve. Own judgment directly few trifling. Elderly as pursuit at regular do parlors. Rank what has into fond she.

              //           ¬ services-features           /
              .services-features
                .row
                  .col-xs-12.col-sm-4.services-features__item
                    .img-wrap
                      i.icon.pe-7s-config
                    h5.services-features__caption Premium quality parts

                  .col-xs-12.col-sm-4.services-features__item
                    .img-wrap
                      i.icon.pe-7s-piggy
                    h5.services-features__caption Affordable pricing

                  .col-xs-12.col-sm-4.services-features__item
                    .img-wrap
                      i.icon.pe-7s-users
                    h5.services-features__caption Qualified Mechanics

              //           end services-features           /

            //           end section-content           /

          //           end inner-content           /

          include repair/_repair-sidebar

      include repair/_maintenance

    //           end page-content-wrapper           /

block footer
  include ../partials/_footer

block bottom
  include ../partials/_modal-form

