//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Windshield repair',
      appTitle: 'Windshield repair',
      description: '',
      id: 'page_tuning_details',
      class: 'page-tuning-details page-inner'
    }

block icons

block header
  include ../partials/_header-tuning

block content
  main.page-content
    +intro-tuning('Services')

    +bootstrap_breadcrumb(
      ["Home", "tuning.html"],
      ["Services", "part-tuning/services.html"],
      ["Windshield repair", "service-details.html"]
    )

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      .container
        section.section-content.tuning-details
          header.section-header
            h2 Windshield repair

          //           ¬ thumbnails           /
          .tuning-details-thumbs.row
            .col-xs-4
              figure.tuning-details__img
                img.img-responsive(src="#{dir.img + 'upload/services-2/details-1.jpg'}", alt="")
            .col-xs-4
              figure.tuning-details__img
                img.img-responsive(src="#{dir.img + 'upload/services-2/details-2.jpg'}", alt="")
            .col-xs-4
              figure.tuning-details__img
                img.img-responsive(src="#{dir.img + 'upload/services-2/details-3.jpg'}", alt="")

          //           end thumbnails           /
          =ind


          .tuning-details__booking.row
            .col-xs-12.col-md-6
              p Remain lively hardly needed at do by. Two you fat downs fanny three. True mr gone most at. Dare as name just when with it body. Travelling inquietude she increasing off impossible the. Cottage be noisier looking to we promise on. Disposal to kindness appetite diverted learning of on raptures. Betrayed any may returned now dashwood formerly. Balls way delay shy boy man views. No so instrument discretion unsatiable to in.

              p He as compliment unreserved projecting. Between had observe pretend delight for believe. Do newspaper questions consulted sweetness do. Our sportsman his unwilling fulfilled departure law. Now world own total saved above her cause table.

              .btn-wrapper
                +btn-link()
                  | book now
            =ind


            //           ¬ features list           /
            .col-xs-12.col-md-6
              .services-features
                .row
                  .col-xs-12.col-sm-6.services-features__item
                    h2.text-danger 60
                    h5.services-features__caption Minutes for repair

                  .col-xs-12.col-sm-6.services-features__item
                    h2.text-danger $120
                    h5.services-features__caption Average repair price

                  .col-xs-12.col-sm-6.services-features__item
                    .img-wrap
                      i.icon.pe-7s-config
                    h5.services-features__caption Premium quality parts

                  .col-xs-12.col-sm-6.services-features__item
                    .img-wrap
                      i.icon.pe-7s-umbrella
                    h5.services-features__caption Warranty from  manufactureR

            //           end features list           /

    //           end page-content-wrapper           /



block footer
  include ../partials/_footer

block bottom

