//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Services',
      appTitle: 'Services',
      description: '',
      id: 'page_tuning_services',
      class: 'page-tuning-services page-inner'
    }

block icons

block header
  include ../partials/_header-tuning

block content
  main.page-content.tuning-page-content
    +intro-tuning('Services')

    +bootstrap_breadcrumb(
      ["Home", "tuning.html"],
      ["Services"]
    )

    .container
      section.tuning-services.row
        +hideTitle
        //           ¬ item-1           /
        .col-xs-12
          .service-panel.row
            .col-xs-12.col-sm-6.col-sm-push-6
              .service-panel__body.service-panel__body--right
                .service-panel__body-inner
                  h4 Dynoing service
                  p Sociable on as carriage my position weddings raillery consider. Peculiar trifling absolute and wandered vicinity property yet.
            .col-xs-12.col-sm-6.col-sm-pull-6.service-panel__link.hover-anim
              +over-hover-link(ROOT + link.tuning_details)
              img.img-responsive(src="#{dir.img + 'upload/services-2/item-1.jpg'}", alt="")

        //           end item-1           /


        //           ¬ item-2           /
        .col-xs-12
          .service-panel.row
            .col-xs-12.col-sm-6
              .service-panel__body
                .service-panel__body-inner
                  h4 Brakes upgrade
                  p She who arrival end how fertile enabled. Brother she add yet see minuter natural smiling article painted. Themselves at dispatched interested insensible am be prosperous reasonably it. In either so spring wished.
            .col-xs-12.col-sm-6.service-panel__link.hover-anim
              +over-hover-link(ROOT + link.tuning_details)
              img.img-responsive(src="#{dir.img + 'upload/services-2/item-2.jpg'}", alt="")
        //           end item-2           /


        //           ¬ item-3           /
        .col-xs-12
          .service-panel.row
            .col-xs-12.col-sm-6.col-sm-push-6
              .service-panel__body.service-panel__body--right
                .service-panel__body-inner
                  h4 Custom engine work
                  p Views abode law heard jokes too. Was are delightful solicitude discovered collecting man day. Resolving neglected sir tolerably but existence conveying for. Day his put off unaffected literature partiality inhabiting.
            .col-xs-12.col-sm-6.col-sm-pull-6.service-panel__link.hover-anim
              +over-hover-link(ROOT + link.tuning_details)
              img.img-responsive(src="#{dir.img + 'upload/services-2/item-3.jpg'}", alt="")
        //           end item-3           /


        //           ¬ item-4           /
        .col-xs-12
          .service-panel.row
            .col-xs-12.col-sm-6
              .service-panel__body
                .service-panel__body-inner
                  h4 Tire sales & Setup
                  p She who arrival end how fertile enabled. Brother she add yet see minuter natural smiling article painted. Themselves at dispatched interested insensible am be prosperous reasonably it. In either so spring wished.
            .col-xs-12.col-sm-6.service-panel__link.hover-anim
              +over-hover-link(ROOT + link.tuning_details)
              img.img-responsive(src="#{dir.img + 'upload/services-2/item-4.jpg'}", alt="")

        //           end item-4           /


block footer
  include ../partials/_footer

block bottom

