@import "css/custom-bootstrap-variables";
@import "utilities/utilities";
@import "theme";

/**************************************
      = Theme panel
                                     */
.theme-panel {
  direction: ltr;
  padding: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 10px;
  background-color: #383838;
  color: $text-color;

  &-mdl {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translate(-100%, -50%);
    max-width: 280px;
    width: 100%;
    max-height: 100%;
    padding-bottom: 1px;
    z-index: 1050;
    transition: transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1);

    &__inner {
      position: relative;
      padding: 15px 15px 5px;
      border-radius: 0 3px 0 0;
      background-color: #383838;
      color: #fff;
    }

    &__title {
      margin: 18px 0;
      font-size: 12px;
      text-align: left !important;
    }

    .theme-config {
      position: absolute;
      right: -48px;
      bottom: 0;
      width: 48px;
      height: 48px;
      line-height: 48px;
      color: #fff;
      text-align: center;
      border-radius: 0 3px 3px 0;
      background-color: $brand-default;
      cursor: pointer;
      @extend %transition;

      .icon {
        font-size: 40px;
        line-height: 1;
        vertical-align: middle;
        transform: rotate(0);
        transition: transform 1000ms cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }

    &.active {
      transform: translate(0, -50%);

      .theme-config {
        .icon {
          transform: rotate(360deg);
        }
      }
    }
  }

  &__heading {
    position: relative;
    z-index: 1;

    .panel-tab {
      display: block;
      padding: 15px 30px;
      font-size: 10px;
      color: #fff;
      text-transform: uppercase;
      background-color: $brand-default;
      @extend %transition;

      &.collapsed {
        background-color: $gray-darker;

        &:hover {
          background-color: $gray-dark;
          color: #fff;
        }
      }
    }

    .panel-tab.collapsed > .panel-cross:after {
      transform: rotate(-90deg);
    }
  }

  .panel-cross {
    width: 16px;
    height: 16px;
    left: auto !important;
    right: 15px !important;

    &:before,
    &:after {
      margin-top: 8px;
    }
  }

  &__title {
    line-height: 1;
    margin: 0;
  }

  .panel-body {
    padding: 7px 5px;
    background-color: $gray-dark;
  }

  &__skins {
    margin-left: -5px;

    > li {
      float: left;
      width: 26px;
      height: 26px;
      margin: 5px;
      cursor: pointer;
    }

    > li > a {
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid $border-light;
    }

    .skin-default { background-color: $skin-default; }
    .skin-light { background-color: $skin-light; }
    .skin-dark { background-color: $skin-dark; }
    .skin-blue { background-color: $skin-blue; }
    .skin-orange { background-color: $skin-orange; }
  }
}


/* jquery.switcher - 1.2.4
* https://github.com/djanix/jquery-switcher
* Copyright (c) 2014-11-04  -  */
.switcher {
  cursor: pointer;
  font-size: 12px;
  width: 100%;
  text-transform: uppercase;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.switcher .content {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switcher .text {
  display: none;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.switcher.default {
  background-color: white;
  border: 1px solid #fff;
  border-radius: 4px;
  line-height: 26px;
  min-width: 80px;
  padding: 2px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.switcher.default input {
  display: none;
}
.switcher.default .slider {
  background-color: $gray-dark;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 2px 1px #fff;
  box-shadow: 0 0 2px 1px #fff;
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  width: 50%;
  z-index: 2;
}
.switcher.default .text {
  width: 50%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.switcher.default .textYes {
  float: left;
  color: #fff;
}
.switcher.default .textNo {
  float: right;
}
.switcher.default.is-active {
  background-color: $brand-danger;
}
.switcher.default.is-active .slider {
  transform: translateX(100%);
}

.switcher.short {
  cursor: pointer;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}
.switcher.short input {
  display: none;
}
.switcher.short .content {
  border: 1px solid #aaaaaa;
  border-radius: 50%;
  height: 18px;
  padding: 0;
  width: 18px;
}
.switcher.short .slider {
  background-color: #519b20;
  border-radius: 50%;
  height: 12px;
  margin: 3px;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 12px;
}
.switcher.short.is-active .slider {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}