//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | 404',
      appTitle: 'Carros 404',
      description: '',
      id: '404',
      class: 'page-404 page-inner'
    }

block icons

block header
  include partials/_header-repair

block content
  main.page-content
    .container
      h1 404
      p The page you were looking for is not found

      .btn-wrapper
        +btn-link('dark', "index.html")
          | Back to home page

block footer
  include partials/_footer

block bottom

