//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Cart',
      appTitle: 'Carros Cart',
      description: '',
      id: 'page_cart',
      class: 'page-cart page-inner'
    }

block icons

block header
  include partials/_header-retailer

block content
  main.page-content
    //           ¬ section-intro           /
    +catalog-intro-page('Cart')

    //           end section-intro           /

    include partials/_category-filter
    =ind

    +breadcrumb_catalog(
      ["Home", "retailer.html"],
      ["Cart"]
    )

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      .container
        section.section-content.price-cart
          header.section-header
            h2 Your cart

          //           ¬ price cart table           /
          .price-cart-table.table-responsive
            table.table.table-order
              thead
                tr
                  th.col-xs-1
                  th.col-xs-3 Item
                  th.col-xs-2 SKU
                  th.col-xs-2 Quantity
                  th.col-xs-2 Price
                  th.col-xs-2 Total
              tbody
                tr
                  td
                    button.btn-close(type='button')
                      span.btn-close__bar
                      span.btn-close__bar
                  td
                    p C.B.S. Brake disc, front axle vented, for MERCEDES-BENZ M-CLASS (W164) ML 280 CDI 4-matic (164.120)
                  td
                    | #1852928
                  td
                    .media-counter
                      input.form-control-count(type='text', data-number, value='1', readonly)
                  td
                    span.cost-current.brand-danger $55.98
                  td
                    span.cost-total $111.96
                =ind

                tr
                  td
                    button.btn-close(type='button')
                      span.btn-close__bar
                      span.btn-close__bar
                  td
                    p Swap Tappet,.for HONDA CIVIC VIII Hatchback (FN, FK) 1.4 83 HP
                  td
                    | #1792015
                  td
                    .media-counter
                      input.form-control-count(type='text', data-number, value='1', readonly)
                  td
                    span.cost-current.brand-danger $14.50
                  td
                    span.cost-total $14.50
                =ind

                tr
                  td
                    button.btn-close(type='button')
                      span.btn-close__bar
                      span.btn-close__bar
                  td
                    p Elysium oil filter, Filter insert, for BMW X5 (E53) 3.0 228 HP
                  td
                    | #1025156
                  td
                    .media-counter
                      input.form-control-count(type='text', data-number, value='1', readonly)
                  td
                    span.cost-current.brand-danger $9.00
                  td
                    span.cost-total $27.00
                =ind

                tr
                  td
                    button.btn-close(type='button')
                      span.btn-close__bar
                      span.btn-close__bar
                  td
                    p OBI Springs, Rear axle lucas w/o accessories, for AUDI A3 (8L1) 1.6 101 HP
                  td
                    | #1803244
                  td
                    .media-counter
                      input.form-control-count(type='text', data-number, value='1', readonly)
                  td
                    span.cost-current.brand-danger $35.10
                  td
                    span.cost-total $35.10

          //           end price cart table           /
          =ind

          //           ¬ price-shipping           /
          .row.price-cart-shipping
            .col-sm-9.col-lg-7.col-sm-offset-1
              .form-group
                label.label-control Shipping method
                select#shippingMethod.form-control.select2
                  option(value='USPS Express (USA delivery only, up to 5 business days)', selected='selected')
                    | USPS Express (USA delivery only, up to 5 business days)
                  option(value='Standard Delivery – via U.S. Postal Service')
                    | Standard Delivery – via U.S. Postal Service
                  option(value='Priority delivery (2-3 business days)')
                    | Priority delivery (2-3 business days)

            .col-sm-2.col-sm-offset-0.col-lg-offset-2
              span.cost-total $27.00

          //           end price-shipping           /
          =ind

          //           ¬ price cart total           /
          .row.price-cart-total.total-panel
            .col-xs-8.col-sm-7.col-sm-offset-1
              span.total-panel-caption Total amount due:
            .col-xs-4.col-sm-2.col-sm-offset-2
              span.total-panel-sum $188.56

          //           end price cart total           /

          +btn-link('dark', ROOT + link.checkout)(class='btn-lg')
            | Proceed to Checkout

    //           end page-content-wrapper           /


block footer
  include partials/_footer

block bottom

