//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | FAQ',
      appTitle: 'Carros FAQ',
      description: '',
      id: 'page_faq',
      class: 'page-faq page-inner'
    }

block icons

block header
  include partials/_header-repair

block content
  main.page-content
    +intro-page('Faq')

    +bootstrap_breadcrumb(
      ["Home", "index.html"],
      ["Faq"]
    )

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      .container
        .row
          //           ¬ inner-content           /
          .col-md-9
            //           ¬ section content           /
            section.section-content
              header.section-header
                h2 Frequently asked questions
                .divider
                p Did shy say mention enabled through elderly improve. As at so believe account evening behaved hearted is. House is tiled we aware.

              //           ¬ questions-list           /
              #questTabs.questions-list(role='tablist', aria-multiselectable='true')
                //           ¬ panel-1           /
                .panel.question-panel
                  #questTab1.question-panel__heading(role='tab')
                    h3.question-panel__title
                      a.panel-tab(role='button', data-toggle='collapse', data-parent='#questTabs', href='#questCollapse1', aria-expanded='true', aria-controls='questCollapse1')
                        | How long does it take to repair my car?
                        i.panel-cross
                  #questCollapse1.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='questTab1')
                    .question-panel__body
                      | Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old. Sometimes strangers his ourselves her depending you boy. Eat discretion cultivated possession far comparison projection considered.

                //           end panel-1           /


                //           ¬ panel-2           /
                .panel.question-panel
                  #questTab2.question-panel__heading(role='tab')
                    h3.question-panel__title
                      a.panel-tab.collapsed(role='button', data-toggle='collapse', data-parent='#questTabs', href='#questCollapse2', aria-expanded='false', aria-controls='questCollapse2')
                        | What’t esimate cost of my car servicing?
                        i.panel-cross
                  #questCollapse2.panel-collapse.collapse(role='tabpanel', aria-labelledby='questTab2')
                    .question-panel__body
                      | Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old. Sometimes strangers his ourselves her depending you boy. Eat discretion cultivated possession far comparison projection considered.

                //           end panel-2           /


                //           ¬ panel-3           /
                .panel.question-panel
                  #questTab3.question-panel__heading(role='tab')
                    h3.question-panel__title
                      a.panel-tab.collapsed(role='button', data-toggle='collapse', data-parent='#questTabs', href='#questCollapse3', aria-expanded='false', aria-controls='questCollapse3')
                        | Do you offer any warranty?
                        i.panel-cross
                  #questCollapse3.panel-collapse.collapse(role='tabpanel', aria-labelledby='questTab3')
                    .question-panel__body
                      | Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old. Sometimes strangers his ourselves her depending you boy. Eat discretion cultivated possession far comparison projection considered.

                //           end panel-3           /


                //           ¬ panel-4           /
                .panel.question-panel
                  #questTab4.question-panel__heading(role='tab')
                    h3.question-panel__title
                      a.panel-tab.collapsed(role='button', data-toggle='collapse', data-parent='#questTabs', href='#questCollapse4', aria-expanded='false', aria-controls='questCollapse4')
                        | Do you use original auto parts (OEM)?
                        i.panel-cross
                  #questCollapse4.panel-collapse.collapse(role='tabpanel', aria-labelledby='questTab4')
                    .question-panel__body
                      | Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old. Sometimes strangers his ourselves her depending you boy. Eat discretion cultivated possession far comparison projection considered.

                //           end panel-4           /


                //           ¬ panel-5           /
                .panel.question-panel
                  #questTab5.question-panel__heading(role='tab')
                    h3.question-panel__title
                      a.panel-tab.collapsed(role='button', data-toggle='collapse', data-parent='#questTabs', href='#questCollapse5', aria-expanded='false', aria-controls='questCollapse5')
                        | My car is overheating. Does it mean that I need to replace the thermostat?
                        i.panel-cross
                  #questCollapse5.panel-collapse.collapse(role='tabpanel', aria-labelledby='questTab5')
                    .question-panel__body
                      | Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old. Sometimes strangers his ourselves her depending you boy. Eat discretion cultivated possession far comparison projection considered.

                //           end panel-5           /


                //           ¬ panel-6           /
                .panel.question-panel
                  #questTab6.question-panel__heading(role='tab')
                    h3.question-panel__title
                      a.panel-tab.collapsed(role='button', data-toggle='collapse', data-parent='#questTabs', href='#questCollapse6', aria-expanded='false', aria-controls='questCollapse6')
                        | Shoud I use synthetic oil in my car?
                        i.panel-cross
                  #questCollapse6.panel-collapse.collapse(role='tabpanel', aria-labelledby='questTab6')
                    .question-panel__body
                      | Forfeited you engrossed but gay sometimes explained. Another as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old. Sometimes strangers his ourselves her depending you boy. Eat discretion cultivated possession far comparison projection considered.

                //           end panel-6           /

              //           end questions-list           /

            //           end section content           /

          //           end inner-content           /

          include pages/repair/_repair-sidebar

      include pages/repair/_maintenance

    //           end page-content-wrapper           /


block footer
  include partials/_footer

block bottom
  include partials/_modal-form

