//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Repair shop',
      appTitle: 'Repair shop',
      description: '',
      id: 'home',
      class: 'page-home'
    }

block icons

block header
  include partials/_header-repair

block content
  main.page-content
    include pages/repair/_repair-intro
    include pages/repair/_repair-service
    include pages/repair/_repair-pricing
    include pages/repair/_repair-quote
    include pages/repair/_repair-testimonials
    include pages/repair/_repair-stats
    include pages/repair/_repair-about
    include pages/repair/_repair-video
    include pages/repair/_repair-contacts
    +section-map
    include pages/repair/_repair-reservation

block footer
  include partials/_footer

block bottom
  include partials/_modal-form
  +init-map






