//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Orders history',
      appTitle: 'Carros Orders history',
      description: '',
      id: 'page_orders',
      class: 'page-orders page-inner'
    }

block icons

block header
  include partials/_header-retailer

block content
  main.page-content
    //           ¬ section-intro           /
    +catalog-intro-page('Account')

    //           end section-intro           /

    include partials/_category-filter
    =ind

    +breadcrumb_catalog(
      ["Home", "retailer.html"],
      ["Account"]
    )

    //           ¬ page-content-wrapper           /
    .page-content-wrapper
      .container
        .row
          include pages/retailer/_sidebar-account
          =ind

          //           ¬ content           /
          .col-sm-8.col-md-9
            section.order-history
              header.section-header
                h2 Your cart

              //           ¬ orsers history           /
              .table-responsive
                table.table.table-order
                  thead
                    tr
                      th.col-xs-3.col-md-2 Order #
                      th.col-xs-3.col-md-2 Date of order
                      th.col-xs-3.col-md-2 Status
                      th.col-xs-3.col-md-2 Items
                      th.col-md-1.visible-md.visible-lg
                  tbody
                    tr
                      td.order
                        | 1852928
                      td.date
                        | 26/07/2016
                      td.status
                        | Shipped
                      td.item
                        +link-accent()
                          | View items
                      td.visible-md.visible-lg

                    tr
                      td.order
                        | 1853210
                      td.date
                        | 01/08/2016
                      td.status
                        | Shipped
                      td.item
                        +link-accent()
                          | View items
                      td.visible-md.visible-lg

                    tr
                      td.order
                        | 1863105
                      td.date
                        | 09/08/2016
                      td.status
                        | Processing
                      td.item
                        +link-accent()
                          | View items
                      td.visible-md.visible-lg

              //           end orsers history           /

          //           end content           /
    //           end page-content-wrapper           /


block footer
  include partials/_footer

block bottom

