//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Auto tuning service',
      appTitle: 'Auto tuning service',
      description: '',
      id: 'page_tuning',
      class: 'page-home'
    }

block icons

block header
  include partials/_header-tuning

block content
  main.page-content
    include pages/tuning/_tuning-intro
    include pages/tuning/_tuning-service
    include pages/tuning/_tuning-pricing
    include pages/tuning/_tuning-feature
    include pages/tuning/_tuning-workshop
    include pages/tuning/_tuning-about
    include pages/tuning/_tuning-reservation
    include pages/tuning/_tuning-contacts
    +section-map

block footer
  include partials/_footer

block bottom
  include partials/_lightbox
  +init-map

