//- Home page
extends _base

block page
  -
    page = {
      language: 'en',
      title: 'Carros | Contacts',
      appTitle: 'Carros Contacts',
      description: '',
      id: 'contacts',
      class: 'tuning-page-contacts page-inner'
    }

block icons

block header
  include partials/_header-tuning

block content
  main.page-content
    +intro-tuning('Contacts')

    +bootstrap_breadcrumb(
      ["Home", "tuning.html"],
      ["Contacts", "contacts.html"]
    )

    //           ¬ page-content           /
    .container
      //           ¬ section content           /
      .section-content.tuning-contacts-content.row

        //           ¬ contacts panel           /
        .col-xs-12.col-md-5.col-lg-4
          article.panel.tuning-contacts-panel
            .panel__inner
              header.panel__heading
                h1.panel__title.text-danger Carros

              //           ¬ contacts-list           /
              .panel__body
                p Warmly little before cousin sussex entire men set. Blessing it ladyship on sensible judgment settling outweigh. Worse linen an of civil jokes leave offer. Parties all clothes removal cheered calling prudent her.

                .contacts-list
                  .contacts-list__item
                    i.icon.pe-7s-map-2
                    ul
                      li 64 Weigall Avenue, Mount Bryan,
                      li SA 1587, Australia

                  .contacts-list__item
                    i.icon.pe-7s-phone
                    ul
                      li: a(href="tel:+18184925810") +1 (818) 492 58 10
                      li: a(href="fax:+18184102900") +1 (818) 410 29 00 (fax)

                  .contacts-list__item
                    i.icon.pe-7s-clock
                    ul
                      li Mon — Tue:  8:00 — 21:00
                      li Sat — Sun:  10:00 — 18:00

              //           end contacts-list           /

        //           end contacts panel           /

        .col-xs-12.col-md-7.col-lg-8.map-col
          +contacts-map()
      //           end section content           /

    //           end page-content           /


block footer
  include partials/_footer

block bottom
  +init-map

